.home{
    background-color:cadetblue;
    font-family: chalkduster;
    cursor: pointer;
    background-image: url("pics/bellapsicodelica.jpeg");
    background-attachment: fixed;
}
.body{
    background-attachment: fixed;
    
}

h1{
    color: rgb(12, 50, 51);
    font-family: chalkduster;
    text-shadow: 24px 11px 4px rgba(0,0,0,0.56);
    display:flex;
    align-items: flex-end;
    justify-content: center;
}
.link-create-dog, .link-create-dog:visited{
    background-color: rgb(67, 131, 128);
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: medium;
    padding: 10px 20px;
    font-size: 17px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(158, 209, 137);
    font-family: chalkduster;

}
.link-create-dog:hover, .link-create-dog{
    background-color:rgb(145, 201, 138) ;
}
.boton{

    position:center;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: rgb(67, 131, 128);
    font-size: 17px;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(158, 209, 137);
    cursor: pointer;
    font-family: chalkduster;

}
.boton>button:hover{
    background:rgb(145, 201, 138);
}

.container-filtros{
    width: 80%;
    margin-top: 20px;
    position: relative;
    left:10%;
    right: 10%;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(73, 70, 70);
    display: flex;
    justify-content: center;
    justify-self: center;
    background:rgb(67, 131, 128);
    height:  35px;
    font-size: small;
    font-family: chalkduster;
    border-color: rgb(158, 209, 137);
}
.container-ordenamientos{
    width: 80%;
    margin-top: 20px;
    position: relative;
    left:10%;
    right: 10%;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(73, 70, 70);
    display: flex;
    justify-content: center;
    justify-self: center;
    background:rgb(67, 131, 128);
    height:  35px;
    font-size: small;
    font-family: chalkduster;
    border-color: rgb(158, 209, 137);
}
